<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Orders
        </h3>
        <ordercloud-search servicename="Orders" controlleras="orders"></ordercloud-search>
        <div class="well well-lg text-center" ng-if="!orders.list.Items.length">
            <b ng-if="!orders.searching()">The selected buyer does not have any orders.</b>
            <b ng-if="orders.searching()"><i class="fa fa-search"></i> No orders match your search.</b>
        </div>
        <section class="table-fixed-header" ng-if="orders.list.Items.length">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="Orders" controlleras="orders">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Date Created</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders.list.Items track by $index">
                        <td>
                            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle><i class="fa fa-cog"></i> <span class="caret"></span></button>
                                <ul uib-dropdown-menu role="menu">
                                    <li role="menuitem"><a ui-sref=".edit({orderid: order.ID})">Edit Order</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{order.ID}}</td>
                        <td>{{order.DateCreated | date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</ui-view>