<article class="container-fluid">
    <h3 class="page-header">
        <b>Edit Gift Card:</b> {{giftCardEdit.giftCard.Name}}
    </h3>
    <form name="GiftCardEditForm" ng-submit="giftCardEdit.Submit(giftCardEdit.giftCard)">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="giftcardIDInput">Gift Card ID</label>
                <input required id="giftcardIDInput" type="text" class="form-control" ng-model="giftCardEdit.giftCard.ID">
            </div>
            <div class="form-group col-md-6">
                <label for="giftcardNameInput">Gift Card Name</label>
                <input required id="giftcardNameInput" type="text" class="form-control" ng-model="giftCardEdit.giftCard.Name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="giftcardStartDate">Start Date</label>
                <input id="giftcardStartDate" type="text" ng-click="open1 = !open1" is-open="open1" uib-datepicker-popup="{{giftCardEdit.format}}" datepicker-append-to-body="true" class="form-control" ng-model="giftCardEdit.giftCard.StartDate">
            </div>
            <div class="form-group col-md-6">
                <label for="giftcardExpirationDate">End Date</label>
                <input id="giftcardExpirationDate" type="text" ng-click="open2 = !open2" is-open="open2" min-date="giftCardEdit.giftCard.StartDate" ng-disabled="!giftCardEdit.giftCard.StartDate" uib-datepicker-popup="{{giftCardEdit.format}}" datepicker-append-to-body="true" class="form-control" ng-model="giftCardEdit.giftCard.EndDate">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="giftcardBalance">Balance</label>
                <input required id="giftcardBalance" type="text" class="form-control" ng-model="giftCardEdit.giftCard.Balance">
            </div>
            <div class="form-group col-md-6">
                <label for="giftcardMaxPercentOfTotal">Redemption Code</label>
                <input required id="giftcardMaxPercentOfTotal" type="text" class="form-control" ng-model="giftCardEdit.giftCard.RedemptionCode">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="giftCardEditForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="giftCardEdit.Delete(giftCardEdit.giftCard)"><i class="fa fa-trash text-danger"></i></button>
        </div>
    </form>
</article>
