<article class="container-fluid" xmlns="http://www.w3.org/1999/html">
	<h3 class="page-header">
		Checkout
	</h3>
	<div class="row">
		<div class="col-sm-8">
			<nav id="checkout_nav">
				<ul class="nav nav-pills">
					<li role="presentation" ui-sref-active="active">
						<a ui-sref=".shipping">Shipping</a>
					</li>
					<li role="presentation" ui-sref-active="active">
						<a ui-sref=".billing">Billing</a>
					</li>
					<li role="presentation" ui-sref-active="active">
						<a ui-sref=".payment">Payment</a>
					</li>
					<li role="presentation" ui-sref-active="active">
						<a ui-sref=".confirmation">Confirmation</a>
					</li>
				</ul>
			</nav>
			<ui-view></ui-view>
		</div>
		<div class="col-sm-4">
			<div id="LineItems" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<ng-pluralize count="checkout.lineItems.Meta.TotalCount" when="{
							'1': '1 Item in Your Cart',
							'other': '{} Items in Your Cart'
						}"></ng-pluralize>
					</h3>
				</div>
				<div style="max-height:500px; overflow-y:auto;" ordercloud-infinite-scroll controlleras="checkout">
					<table class="table table-hover">
						<tbody>
                            <colgroup>
                                <col style="width:100px;">
                                <col>
                                <col style="width:75px;">
                            </colgroup>
                            <tr ng-repeat-start="lineItem in checkout.lineItems.Items track by $index" class="item_info">
                                <td>
                                    <form name="{{'lineitem_' + $index + '_quantity'}}">
                                        <input tabindex="{{$index + 1}}" type="number" ng-change="checkout.updateQuantity(checkout.currentOrder, lineItem)" class="form-control text-center" ng-model="lineItem.Quantity">
                                    </form>
                                </td>
                                <td>
                                    <a href="#">{{lineItem.Product.Name}}</a><br>
                                    <small class="text-muted">{{lineItem.ProductID}}</small></br>
                                </td>
                                <td>
                                    <button ng-click="checkout.removeItem(checkout.currentOrder, lineItem)" class="btn btn-default btn-block">
                                        <i class="fa fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end class="shipping_info">
                                <div ng-if="checkout.isMultipleAddressShipping">
                                    <td colspan="3" ng-if="lineItem.ShippingAddress.ID || lineItem.ShippingAddress === null">
                                        <label>Shipping To:</label>
                                        <div class="input-group">
                                            <span uib-tooltip="{{lineItem.ShippingAddress | address}}" tooltip-append-to-body="true" class="input-group-addon"><i class="fa fa-truck"></i></span>
                                            <select required="true" ng-change="checkout.updateLineItemShipping(lineItem);" ng-model="lineItem.ShippingAddress.ID" class="form-control" ng-options="address.ID as address.AddressName for address in checkout.shippingAddresses"></select>
                                            <span ng-click="checkout.setCustomShipping(checkout.currentOrder, lineItem);" class="btn-success input-group-addon"><i class="fa fa-plus-circle"></i></span>
                                        </div>
                                    </td>
                                    <td colspan="3" ng-if="lineItem.ShippingAddress !== null && lineItem.ShippingAddress.ID === null">
                                        <div class="col-xs-9">
                                            <b>Shipping To:</b>
                                            <p>{{lineItem.ShippingAddress | address}}</p>
                                        </div>
                                        <div class="col-xs-3">
                                            <button class="btn btn-danger" ng-click="lineItem.ShippingAddress = null;">Clear</button>
                                        </div>
                                    </td>
                                </div>
                            </tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<p class="lead">Subtotal: <span class="text-success pull-right">{{checkout.currentOrder.Subtotal | currency}}</span></p>
				</div>
			</div>
		</div>
	</div>
</article>