<article class="container-fluid">
	<h3 class="page-header">
		Order Confirmation
	</h3>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Billing Address</b></div>
        <div class="panel-body">
            <div>
                <p id="address_paragraph">{{orderConfirmation.currentOrder.BillingAddress | address: 'full'}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="!orderConfirmation.isMultipleAddressShipping">
        <div class="panel-heading"><b>Shipping Address</b></div>
        <div class="panel-body">
            <div>
                <p id="address_paragraph">{{orderConfirmation.lineItems.Items[0].ShippingAddress | address: 'full'}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Payment Information</b></div>
        <div class="panel-body">
            <div ng-if="orderConfirmation.currentOrder.PaymentMethod == 'CreditCard'">
                <p>Cardholder Name: {{orderConfirmation.currentOrder.CreditCard.CardholderName}}</p>
                <p><i class="fa fa-cc-visa fa-2x"></i> ending in {{orderConfirmation.currentOrder.CreditCard.PartialAccountNumber}}</p>
            </div>
            <div ng-if="orderConfirmation.currentOrder.PaymentMethod == 'SpendingAccount'">
                Spending Account ID: {{orderConfirmation.currentOrder.SpendingAccountID}}
            </div>
            <div ng-if="orderConfirmation.currentOrder.PaymentMethod == 'PurchaseOrder'">
                <!--need info for each payment type-->
            </div>
        </div>
    </div>
    <ordercloud-confirmation-lineitems order="orderConfirmation.currentOrder"></ordercloud-confirmation-lineitems>
    <div class="form-group pull-right">
        <button class="btn btn-default" ui-sref="checkout.shipping">Back</button>
        <button class="btn btn-primary" ng-click="orderConfirmation.submitOrder()">Submit Order</button>
    </div>
</article>