<article>
    <ordercloud-select-buyer></ordercloud-select-buyer>
    <div class="row">
        <h3 class="page-title col-sm-8">
            User Groups
        </h3>
        <order-cloud-search servicename="UserGroups" controlleras="userGroups"></order-cloud-search>
    </div>
    <ul class="list-group display-table">
        <li class="list-group-item">
            <p>ID</p>
            <p>Name</p>
        </li>
        <div ordercloud-infinite-scroll servicename="UserGroups" listobject="userGroups.list">
            <li ng-click="userGroups.goToEdit(userGroup.ID)" class="list-group-item" ng-repeat="userGroup in userGroups.list.Items">
                <p>{{userGroup.ID}}</p>
                <p>{{userGroup.Name}}</p>
                <button type="button" ng-click="$event.stopPropagation(); userGroups.goToAssignments(userGroup.ID);" class="btn btn-primary">Assignments</button>
            </li>
        </div>
    </ul>
    <button type="button" class="btn btn-primary" ui-sref="^.groupCreate"><i class="fa fa-plus-circle"></i> Create New</button>
</article>