<div class="col-sm-4">
    <form class="input-group pull-right search-bar form-group" ng-submit="getSearchResults(searchTerm)">
        <input type="search" class="form-control" placeholder="search" ng-model="searchTerm"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            <button ng-if="SearchView" type="button" class="btn btn-default"  ng-click="stateReload()"><i class="fa fa-angle-double-left"></i></button>
        </span>
    </form>
</div>