<article>
    <h3 ng-if="categorylist.length > 0" class="page-header">
        {{categorylist.length > 1 ? 'Categories' : 'Category'}}
    </h3>
    <div class="category-list row">
        <div class="col-md-3" ng-repeat="category in categorylist">
            <div class="category-item" ui-sref="base.catalog.category({categoryid: category.ID})">
                <h3 class="item-name">{{category.Name || category.ID}}</h3>
                <p class="item-id" ng-if="category.Name">{{category.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!category.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="category.xp.image">
                        <img ng-src="{{category.xp.image.URL}}" alt="Category Image">
                    </div>
                </div>
                <p class="item-description" ng-if="category.Description">{{category.Description}}</p>
            </div>
        </div>
    </div>
</article>