<article class="container-fluid">
    <h3 class="page-header">
        Party Assignments for {{couponAssign.coupon.Label}}
    </h3>
    <div class="panel panel-default">
        <label class="panel-body">
            <input type="checkbox" ng-model="couponAssign.assignBuyer">
            Assign {{couponAssign.coupon.Label}} to {{couponAssign.buyer.Name}}
        </label>
    </div>
    <h4>Assign User Groups</h4>
    <fieldset ng-disabled="couponAssign.assignBuyer">
        <section class="table-fixed-header">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="UserGroups" controlleras="couponAssign" idname="UserGroupID" disable-dynamic-validation>
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Name</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in couponAssign.list.Items track by $index">
                        <td class="text-center">
                            <input name="{{'assignCheckbox' + $index}}" type="checkbox" ng-model="group.selected">
                        </td>
                        <td>
                            {{group.ID}}
                        </td>
                        <td>{{group.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </fieldset>
    <div class="form-group">
        <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="couponAssign.saveAssignments()">Update Party Assignments</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignProduct({couponid: couponAssign.coupon.ID})">Assign Products</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignCategory({couponid: couponAssign.coupon.ID})">Assign Categories</button>
    </div>
</article>