<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Coupons
        </h3>
        <ordercloud-search servicename="Coupons" controlleras="coupons"></ordercloud-search>
        <div class="well well-lg text-center" ng-if="!coupons.list.Items.length">
            <b ng-if="!coupons.searching()">The selected buyer does not have any coupons.</b>
            <b ng-if="coupons.searching()"><i class="fa fa-search"></i> No coupons match your search.</b>
        </div>
        <section class="table-fixed-header" ng-if="coupons.list.Items.length">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="Coupons" controlleras="coupons">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Name</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="coupon in coupons.list.Items track by $index">
                        <td>
                            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle><i class="fa fa-cog"></i> <span class="caret"></span></button>
                                <ul uib-dropdown-menu role="menu">
                                    <li role="menuitem"><a ui-sref=".edit({couponid: coupon.ID})">Edit Coupon</a></li>
                                    <li role="menuitem"><a ui-sref=".assignParty({couponid: coupon.ID})">Party Assignments</a></li>
                                    <li role="menuitem"><a ui-sref=".assignProduct({couponid: coupon.ID})">Product Assignments</a></li>
                                    <li role="menuitem"><a ui-sref=".assignCategory({couponid: coupon.ID})">Category Assignments</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{coupon.ID}}</td>
                        <td>{{coupon.Label}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <button type="button" class="btn btn-success" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
    </article>
</ui-view>