<article class="container-fluid">
    <h3 class="page-header">
        Category Assignments for {{couponAssignCat.coupon.Label}}
    </h3>
    <section class="table-fixed-header">
        <div class="table-header-bg"></div>
        <div class="table-container" ordercloud-infinite-scroll servicename="Categories" idname="CategoryID" controlleras="couponAssignCat" disable-dynamic-validation>
            <table class="table table-hover">
                <colgroup>
                    <col class="action-column"/>
                </colgroup>
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        <div>ID</div>
                    </th>
                    <th>
                        <div>Name</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in couponAssignCat.list.Items track by $index">
                    <td class="text-center">
                        <input name="{{'assignCheckbox' + $index}}" type="checkbox" ng-model="category.selected">
                    </td>
                    <td>
                        <p>{{category.ID}}</p>
                    </td>
                    <td>
                        <p>{{category.Name}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="form-group">
        <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="couponAssignCat.saveAssignments()">Update Category Assignments</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignParty({couponid: couponAssignCat.coupon.ID})">Assign Parties</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignProduct({couponid: couponAssignCat.coupon.ID})">Assign Products</button>
    </div>
</article>