<article class="container-fluid">
    <h3 class="page-header">
        Product Assignments for {{couponAssignProd.coupon.Label}}
    </h3>
    <section class="table-fixed-header">
        <div class="table-header-bg"></div>
        <div class="table-container" ordercloud-infinite-scroll servicename="Products" idname="ProductID" controlleras="couponAssignProd" disable-dynamic-validation>
            <table class="table table-hover">
                <colgroup>
                    <col class="action-column"/>
                </colgroup>
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        <div>ID</div>
                    </th>
                    <th>
                        <div>Name</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in couponAssignProd.list.Items track by $index">
                    <td class="text-center">
                        <input name="{{'assignCheckbox' + $index}}" type="checkbox" ng-model="product.selected">
                    </td>
                    <td>
                        <p>{{product.ID}}</p>
                    </td>
                    <td>
                        <p>{{product.Name}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="form-group">
        <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="couponAssignProd.saveAssignments()">Update Product Assignments</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignParty({couponid: couponAssignProd.coupon.ID})">Assign Parties</button>
        <button type="button" class="btn btn-default" ui-sref="^.assignCategory({couponid: couponAssignProd.coupon.ID})">Assign Categories</button>
    </div>
</article>
