<article class="container-fluid">
    <h3 class="page-header">
        <b>Edit Coupon:</b> {{couponEdit.couponName}}
    </h3>
    <form name="CouponEditForm" ng-submit="couponEdit.Submit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="couponIDInput">Coupon ID</label>
                <input id="couponIDInput" ordercloud-auto-id type="text" class="form-control" ng-model="couponEdit.coupon.ID"/>
            </div>
            <div class="col-sm-6 form-group">
                <label for="couponCodeInput">Coupon Code</label>
                <input id="couponCodeInput" type="text" class="form-control" ng-model="couponEdit.coupon.CouponCode" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="couponLabelInput">Label</label>
                <input id="couponLabelInput" type="text" class="form-control" ng-model="couponEdit.coupon.Label" required/>
            </div>
            <div class="col-sm-4 form-group">
                <label for="couponDiscountTypeInput">Discount Type</label>
                <select id="couponDiscountTypeInput" class="form-control" ng-model="couponEdit.coupon.DiscountAmountType" required>
                    <option value="FlatAmountPerOrder">Flat Amount Per Order</option>
                    <option value="FlatAmountPerQuantity">Flat Amount Per Quantity</option>
                    <option value="PercentagePerOrder">Percentage Per Order</option>
                    <option value="PercentagePerQuantity">Percentage Per Quantity</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="couponDiscountInput">Discount Amount</label>
                <input id="couponDiscountInput" type="number" class="form-control" ng-model="couponEdit.coupon.DiscountAmount" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="couponDescriptionInput">Description</label>
                <textarea id="couponDescriptionInput" type="text" class="form-control" ng-model="couponEdit.coupon.Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="couponTypeInput">Coupon Type</label>
                <select id="couponTypeInput" class="form-control" ng-model="couponEdit.coupon.CouponType" required>
                    <option value="Order">Order</option>
                    <option value="ProductCategory">Product Category</option>
                    <option value="Decrementing">Decrementing</option>
                </select>
            </div>
            <div class="col-sm-6 form-group">
                <label for="couponRedeemLimitInput">Redeem Limit</label>
                <input id="couponRedeemLimitInput" type="number" class="form-control" ng-model="couponEdit.coupon.RedeemLimit" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="couponStartInput">Start Date</label>
                <input class="form-control" type="text" is-open="open1" uib-datepicker-popup="MM/dd/yyyy" ng-click="open1 = !open1" id="couponStartInput" datepicker-append-to-body="true" show-weeks="false" ng-model="couponEdit.coupon.StartDate"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="couponExpirationInput">Expiration</label>
                <input class="form-control" type="text" is-open="open2" uib-datepicker-popup="MM/dd/yyyy" ng-click="open2 = !open2" id="couponExpirationInput" datepicker-append-to-body="true" show-weeks="false" ng-model="couponEdit.coupon.ExpirationDate" min-date="couponEdit.coupon.StartDate"/>
            </div>
            <div class="col-sm-6 form-group">
                <label for="couponMinimumPurchaseInput">Minimum Purchase</label>
                <input id="couponMinimumPurchaseInput" type="number" class="form-control" ng-model="couponEdit.coupon.MinimumPurchase"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <label for="couponStatusInput">Status</label>
                <select id="couponStatusInput" class="form-control" ng-model="couponEdit.coupon.Status" required>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Expired">Expired</option>
                    <option value="Disabled">Disabled</option>
                </select>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                    Apply Discount to:
                    <div>
                        <label for="couponApplyInput">
                            <input id="couponApplyInput" type="checkbox" ng-model="couponEdit.coupon.ApplyToSubtotal"/>
                            Subtotal
                        </label>
                    </div>
                    <div>
                        <label for="couponApplyShippingInput">
                            <input id="couponApplyShippingInput" type="checkbox" ng-model="couponEdit.coupon.ApplyToShipping"/>
                            Shipping
                        </label>
                    </div>
                    <div>
                        <label for="couponApplyTaxInput">
                            <input id="couponApplyTaxInput" type="checkbox" ng-model="couponEdit.coupon.ApplyToTax"/>
                            Tax
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label for="couponEnabledInput">
                    <input id="couponEnabledInput" type="checkbox" ng-model="couponEdit.coupon.Enabled"/>
                    Enabled
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="CouponEditForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="couponEdit.Delete()"><i class="fa fa-trash text-danger"></i></button>
        </div>
    </form>
</article>



