<article class="container-fluid">
    <h3 class="page-header">
        <b>New Approval Rule</b>
    </h3>
    <form name="ApprovalRuleCreateForm" ng-submit="approvalRuleCreate.Submit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="approvalRuleIDInput">Approval Rule ID</label>
                <input id="approvalRuleIDInput" ordercloud-auto-id type="text" class="form-control" ng-model="approvalRuleCreate.approvalRule.ID"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="submitTypeInput">Submit Type</label>
                <select id="submitTypeInput" class="form-control" ng-model="approvalRuleCreate.approvalRule.SubmitType" required>
                    <option value="Approve">Approve</option>
                    <option value="Submit">Submit</option>
                    <option value="SubmitOrApprove">Submit or Approve</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="sequenceInput">Sequence</label>
                <input id="sequenceInput" type="number" class="form-control" ng-model="approvalRuleCreate.approvalRule.Sequence"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="priceInput">Price</label>
                <input id="priceInput" type="number" step="any" class="form-control" ng-model="approvalRuleCreate.approvalRule.Price"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="quantityInput">Quantity</label>
                <input id="quantityInput" type="number" class="form-control" ng-model="approvalRuleCreate.approvalRule.Quantity"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="costCenterInput">Cost Center ID</label>
                <input
                        id="costCenterInput"
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.CostCenterID"
                        uib-typeahead="costCenter.ID as costCenter.Name for costCenter in approvalRuleCreate.costCenterIDTypeAhead($viewValue)"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="categoryInput">Category ID</label>
                <input
                        id="categoryInput"
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.CategoryID"
                        uib-typeahead="category.ID as category.Name for category in approvalRuleCreate.categoryIDTypeAhead($viewValue)"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="paymentTypeInput">Payment Method</label>
                <select id="paymentTypeInput" class="form-control" ng-model="approvalRuleCreate.approvalRule.PaymentMethod">
                    <option value="PurchaseOrder">Purchase Order</option>
                    <option value="CreditCard">Credit Card</option>
                    <option value="BudgetAccount">Spending Account</option>
                    <option value="PayPalExpressCheckout">Pay Pal Express Checkout</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="stageInput">Stage</label>
                <input id="stageInput" type="number" class="form-control" ng-model="approvalRuleCreate.approvalRule.Stage" required/>
            </div>
            <div class="form-group col-sm-3">
                <label for="minutesInput">Minutes Allowed</label>
                <input id="minutesInput" type="number" class="form-control" ng-model="approvalRuleCreate.approvalRule.MinutesAllowed"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="implicitActionInput">Implicit Action</label>
                <select id="implicitActionInput" class="form-control" ng-model="approvalRuleCreate.approvalRule.ImplicitAction">
                    <option value="None">None</option>
                    <option value="Approve">Approve</option>
                    <option value="Decline">Decline</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="submittingUserGroup">Apply rule to following submitter(s):</label>
                <input
                        id="submittingUserGroup"
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.SubmittingAssignment.UserGroupID"
                        placeholder="User Group ID"
                        uib-typeahead="userGroup.ID as userGroup.Name for userGroup in approvalRuleCreate.userGroupIDTypeAhead($viewValue)"/>
            </div>
            <div class="form-group col-sm-3 no-padding">
                <input
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.SubmittingAssignment.UserID"
                        placeholder="User ID"
                        uib-typeahead="user.ID as (user.FirstName + ' ' + user.LastName + ' (' + user.Username + ')') for user in approvalRuleCreate.userIDTypeAhead($viewValue)"/>
            </div>
            <div class="form-group col-sm-3">
                <label for="approvingUserGroup">Apply rule to the following approver(s):</label>
                <input
                        id="approvingUserGroup"
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.ApprovingAssignment.UserGroupID"
                        placeholder="User Group ID"
                        uib-typeahead="userGroup.ID as userGroup.Name for userGroup in approvalRuleCreate.userGroupIDTypeAhead($viewValue)"/>
            </div>
            <div class="form-group col-sm-3 no-padding">
                <input
                        type="text"
                        class="form-control"
                        ng-model="approvalRuleCreate.approvalRule.ApprovingAssignment.UserID"
                        placeholder="User ID"
                        uib-typeahead="user.ID as (user.FirstName + ' ' + user.LastName + ' (' + user.Username + ')') for user in approvalRuleCreate.userIDTypeAhead($viewValue)"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="shipNoticeInput">
                    <input id="shipNoticeInput" type="checkbox" ng-model="approvalRuleCreate.approvalRule.SendShipNoticeEmail"/>
                    Send Ship Notice Email
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="approvalNoticeInput">
                    <input id="approvalNoticeInput" type="checkbox" ng-model="approvalRuleCreate.approvalRule.SendApprovalNoticeEmail"/>
                    Send Approval Notice Email
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="ApprovalRuleCreateForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
        </div>
    </form>
</article>