<div class="sidenav-padding">
    <h2>Buyer</h2>

    <span style="white-space: normal" id="buyer-dropdown" ng-click="baseLeft.isCollapsed = !baseLeft.isCollapsed">
        {{baseLeft.buyer.Name}} <i class="fa fa-caret-down"></i>
    </span>
    <div ordercloud-infinite-scroll pagingfunction="baseLeft.PagingFunction()" uib-collapse="baseLeft.isCollapsed" class="list-group infinite-scroll-window" role="menu" aria-labelledby="buyer-dropdown">
        <a ng-repeat="buyer in baseLeft.buyerList.Items" class="list-group-item" ng-click="baseLeft.changeBuyer(buyer)" href>{{buyer.Name}}</a>
    </div>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="item in baseLeft.navItems" ui-sref-active="active">
                <a href="" ui-sref="{{item.StateRef}}">{{item.Display}}</a>
            </li>
        </ul>
    </nav>
</div>