<aside id="BaseLeft">
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="base.home"><i class="fa fa-home"></i> Home</a>
            </li>
        </ul>
    </nav>
    <nav>
        <h4>Catalog</h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="item in baseLeft.catalogItems" ui-sref-active="active">
                <a href="" ui-sref="{{item.StateRef}}">{{item.Display}}</a>
            </li>
        </ul>
    </nav>
    <!--    <span style="white-space: normal" id="buyer-dropdown" ng-click="baseLeft.isCollapsed = !baseLeft.isCollapsed">
		{{baseLeft.buyer.Name}} <i class="fa fa-caret-down"></i>
	</span>
	<div ordercloud-infinite-scroll pagingfunction="baseLeft.PagingFunction()" uib-collapse="baseLeft.isCollapsed" class="list-group infinite-scroll-window" role="menu" aria-labelledby="buyer-dropdown">
		<a ng-repeat="buyer in baseLeft.buyerList.Items" class="list-group-item" ng-click="baseLeft.changeBuyer(buyer)" href>{{buyer.Name}}</a>
	</div>-->
    <nav>
        <h4>Organization</h4>
        <ordercloud-select-buyer></ordercloud-select-buyer>
        <!--<form name="ActiveBuyerForm">
            <div class="form-group">
                <select name="BuyerSelection" class="form-control" ng-model="application.selectedBuyer" ng-options="buyer as buyer.Name for buyer in baseLeft.buyerList.Items"></select>
            </div>
        </form>-->
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="item in baseLeft.organizationItems" ui-sref-active="active">
                <a href="" ui-sref="{{item.StateRef}}">{{item.Display}}</a>
            </li>
        </ul>
    </nav>
</aside>
