<article>
    <ordercloud-select-buyer></ordercloud-select-buyer>
    <div class="row">
        <h3 class="page-title col-sm-8">
            Cost Centers
        </h3>
        <order-cloud-search servicename="CostCenters" controlleras="costCenters"></order-cloud-search>
    </div>
    <ul class="list-group display-table">
        <li class="list-group-item">
            <p>ID</p>
            <p>Name</p>
        </li>
        <div ordercloud-infinite-scroll servicename="CostCenters" listobject="costCenters.list">
            <li ng-click="costCenters.goToEdit(costCenter.ID)" class="list-group-item" ng-repeat="costCenter in costCenters.list.Items">
                <p>{{costCenter.ID}}</p>
                <p>{{costCenter.Name}}</p>
                <button type="button" ng-click="$event.stopPropagation(); costCenters.goToAssignments(costCenter.ID);" class="btn btn-primary">Assignments</button>
            </li>
        </div>
    </ul>
    <button type="button" class="btn btn-primary" ui-sref="^.costCenterCreate"><i class="fa fa-plus-circle"></i> Create New</button>
</article>