<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Spending Accounts
        </h3>
        <ordercloud-search servicename="SpendingAccounts" controlleras="spendingAccounts"></ordercloud-search>
        <div class="well well-lg text-center" ng-if="!spendingAccounts.list.Items.length">
            <b ng-if="!spendingAccounts.searching()">The selected buyer does not have any users.</b>
            <b ng-if="spendingAccounts.searching()"><i class="fa fa-search"></i> No users match your search.</b>
        </div>
        <section class="table-fixed-header" ng-if="spendingAccounts.list.Items.length">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="SpendingAccounts" controlleras="spendingAccounts">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Name</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="spendingAccount in spendingAccounts.list.Items track by $index">
                        <td>
                            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle><i class="fa fa-cog"></i> <span class="caret"></span></button>
                                <ul uib-dropdown-menu role="menu">
                                    <li role="menuitem"><a ui-sref=".edit({spendingAccountid:spendingAccount.ID})">Edit Spending Account</a></li>
                                    <li role="menuitem"><a ui-sref=".assignGroup({spendingAccountid:spendingAccount.ID})">Group Assignments</a></li>
                                    <li role="menuitem"><a ui-sref=".assignUser({spendingAccountid:spendingAccount.ID})">User Assignments</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{spendingAccount.ID}}</td>
                        <td>{{spendingAccount.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <button type="button" class="btn btn-success" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
    </article>
</ui-view>