<article class="container-fluid">
    <h3 class="page-header">
        <b>New Spending Account</b>
    </h3>
    <form name="SpendingAccountCreateForm" ng-submit="spendingAccountCreate.Submit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="spendingAccountIDInput">ID</label>
                <input id="spendingAccountIDInput" ordercloud-auto-id type="text" class="form-control" ng-model="spendingAccountCreate.spendingAccount.ID"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="spendingAccountNameInput">Spending Account Name</label>
                <input id="spendingAccountNameInput" type="text" class="form-control" ng-model="spendingAccountCreate.spendingAccount.Name"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="spendingAccountUserIDInput">Balance</label>
                <input id="spendingAccountUserIDInput" type="number" class="form-control" ng-model="spendingAccountCreate.spendingAccount.Balance"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="spendingAccountBalanceInput">
                <input id="spendingAccountBalanceInput" type="checkbox" ng-model="spendingAccountCreate.spendingAccount.AllowAsPaymentMethod"/>
                Allow As Payment Method</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="SpendingAccountCreateForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
        </div>
    </form>
</article>