<article class="container-fluid">
    <h3 class="page-header">
        <b>Edit Spending Account:</b> {{spendingAccountEdit.spendingAccountName}}
    </h3>
    <form name="SpendingAccountEditForm" ng-submit="spendingAccountEdit.Submit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="spendingAccountIDInput">Spending Account ID</label>
                <input id="spendingAccountIDInput" type="text" class="form-control" ng-model="spendingAccountEdit.spendingAccount.ID"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="spendingAccountNameInput">Spending Account Name</label>
                <input id="spendingAccountNameInput" type="text" class="form-control" ng-model="spendingAccountEdit.spendingAccount.Name"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="spendingAccountBalanceInput">Spending Account Balance</label>
                <input id="spendingAccountBalanceInput" type="number" step="any" class="form-control" ng-model="spendingAccountEdit.spendingAccount.Balance"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="spendingAccountAllowInput">
                    <input id="spendingAccountAllowInput" type="checkbox" ng-model="spendingAccountEdit.spendingAccount.AllowAsPaymentMethod"/>
                    Allow as Payment Type
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="SpendingAccountEditForm.$invalid">Save</button>
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="spendingAccountEdit.Delete()"><i class="fa fa-trash text-danger"></i></button>
        </div>
    </form>
</article>